
<% if @post.errors.any?%>

<h2>Errors:</h2>
<ul>
<% @post.errors.full_messages.each do |message| %>
    <li>
        <%= message %>
    </li>
<%end%>
</ul>
<%end%>

<%= form_for @post do |f| %>

    <%= f.label :title%>
    <div>
    <%= f.text_field :title%>
    </div>

    <%= f.label :body%>
    <div>
    <%= f.text_area :body%>
    </div>
    <div>
    <%= f.number_field :likes%>
    </div>

    <div>
    <%= f.label :image%>
    </div>
    <div>
    <%= f.file_field :image %>
    </div>
    <%= f.submit%>
<%end%>