



<%= form_tag posts_path, method: :get do%>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Search"%>
<%end%>

<div class="posts-container">
  <% @posts.each do |post| %>
    
    <div class="post">

      <div class="post_header">
        <img class='username_icon' src='https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Red_circle.svg/1200px-Red_circle.svg.png'></img>
        <div class='username'>
          <p class='username_text'><%= post.user.username%></p>
        </div>
      </div>

      <div class='image'>
        <%= image_tag(post.image) %>
      </div>
      <h4 class='title index_title'> <%= post.title %> </h4>
      <p class='body'> <%= post.body %> </p>
      <p class='date'> <%= post.created_at %> </p>
      <%= render post.comments %>
      <div class='new_comment'>
        <%= form_for([ post, post.comments.build ])  do |f| %>
          
          <%= f.text_area :body, class: "comment_input", placeholder: "Enter comment" %>
         
          <p><%= f.submit "Add Comment"%></p>
        <% end %>
      </div>
      <div>
        <%= link_to 'Edit', edit_post_path(post.id) %>
      </div>
      <div>
        <% if user_signed_in?%>
          <% if current_user.id === post.user_id%>
            <%= link_to 'Delete', post_path(post.id), method: :delete,
            data: { confirm: "Are you sure?" }, remote: true %>
          <%end%>
        <%end%>
      </div>
    </div>
   
  <% end %>
</div>
<div class='pages'>
  <%= will_paginate @posts %>
</div<